body {
  font-family: 'Libre Baskerville', serif;
  background-color: #fff;
  padding-top: 92px;
  padding-bottom: 130px;
}

a:link,
a:visited {
  text-decoration: none;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 30;
}

main {
  background-color: #fff;
  position: relative;
  z-index: 20;
}

.contact {
  margin-top: 19px;
}

.education {
  margin-bottom: 19px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

footer p {
  margin-top: auto;
  margin-bottom: auto;
}

ul {
  list-style-type: none;
}

.details a {
  color: deepskyblue;
}

aside p {
  padding: 5px;
}
