body {
	font-family: 'Libre Baskerville', serif;
	background-color: #fff;
}

header {
	text-align: center;
}

footer {
	background-color: #333;
	color: #999;
	margin-top: 0;
	padding: 10px;
}

.panel {
	margin-bottom: 0;
}

footer p {
	margin-top: 10px;
}

footer a {
	text-decoration: none;
}