* {
	margin: 0px;
	padding: 0px;
}
body {
	background-image: url("bckgrnd.jpg");
	background-repeat: no-repeat;
}

#main {
	margin: 55px 45px 200px 45px;
	width: 934px;
	display: block;
}

.book {
	width: 110px;
	height: 120px;
	padding-bottom: 20px;
	display: inline-block;
}

.book img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img:hover {
    box-shadow: 8px 8px 8px #333333;
    transform: scale(2);
}
